.contenedor_app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contenedor-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
.card-user {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-user h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 8px;
}

.card-user p {
  margin: 8px 0;
  color: #666;
}
